{% extends 'base.html' %}
{% load static %}
{% block body %}


    

    <div class=' '>
  
        
      








         <div class="w-full  h-full bg-gray-100 lg:fixed ">
         <div class="text-center  ">
            <h4 class=" text-3xl font-extrabold pt-7 pb-6">Books</h4>
             <div class="w-full lg:mt-5 grid lg:grid-cols-12">
                 <div class="col-span-4 w-full ml-14 md:ml-32 lg:ml-4 lg:pr-4">
                     
                     <div class="w-full  mt-5">
                        
                         <div class=" shadow-lg p-3 bg-white rounded">
                             <button class="bg-transparent" onclick="myFunction()" style="width: 100%;border: none;border-radius: 15px;">BOOKS</button>
                         </div>
                         
                     </div>
                     <div class="w-full mt-5">
                        
                         <div class=" shadow-lg p-3 bg-white rounded">
                             <button class="bg-transparent" onclick="myFunction()" style="width: 100%;border: none;border-radius: 15px;">MAGAZINES</button>
                         </div>
                         
                        </div>
                        
                        <div class="w-full mt-5">
                        
                            <div class=" shadow-lg p-3 bg-white rounded">
                                <button class="bg-transparent" onclick="myFunction()" style="width: 100%;border: none;border-radius: 15px;">NEWSPAPERS</button>
                            </div>
                            
                           </div>

                           <div class="w-full mt-5">
                        
                            <div class=" shadow-lg p-3 bg-white rounded">
                                <button class="bg-transparent" onclick="myFunction()" style="width: 100%;border: none;border-radius: 15px;">NOVELS</button>
                            </div>
                            
                           </div>

                           <div class="w-full mt-5">
                        
                            <div class=" shadow-lg p-3 bg-white rounded">
                                <button class="bg-transparent" onclick="myFunction()" style="width: 100%;border: none;border-radius: 15px;">SHOP ONE</button>
                            </div>
                            
                           </div>
                         </div>

                         <div class="col-span-8 mx-4 shadow-lg  bg-white rounded  lg:overflow-y-auto "style="background-color: white; height: 650px;border: none;border-radius: 15px">
                            <div class="mt-5  p-3 mb-5  grid lg:grid-cols-12"  id="demo"> 
                                <div class="w-28 h-36 border-2  flex items-center  mb-4  justify-center">salman</div>
                                <div class="w-28 h-36 border-2  flex items-center  mb-4  justify-center">salman</div>
                                <div class="w-28 h-36 border-2  flex items-center  mb-4  justify-center">salman</div>
                                <div class="w-28 h-36 border-2  flex items-center  mb-4  justify-center">salman</div>
                                <div class="w-28 h-36 border-2  flex items-center  mb-4  justify-center">salman</div>
                                <div class="w-28 h-36 border-2  flex items-center  mb-4  justify-center">salman</div>
                                <div class="w-28 h-36 border-2  flex items-center  mb-4  justify-center">salman</div>
                                <div class="w-28 h-36 border-2  flex items-center  mb-4  justify-center">salman</div>
                                <div class="w-28 h-36 border-2  flex items-center  mb-4  justify-center">salman</div>
                                <div class="w-28 h-36 border-2  flex items-center  mb-4  justify-center">salman</div>
                                <div class="w-28 h-36 border-2  flex items-center  mb-4  justify-center">salman</div>
                                <div class="w-28 h-36 border-2  flex items-center  mb-4  justify-center">salman</div>
                                <div class="w-28 h-36 border-2  flex items-center  mb-4  justify-center">salman</div>
                                <div class="w-28 h-36 border-2  flex items-center  mb-4  justify-center">salman</div>
                                <div class="w-28 h-36 border-2  flex items-center  mb-4  justify-center">salman</div>

                            </div>
                        </div>
                        
                    </div>

                    
             </div>

             
         </div>




         <script>
             function myFunction() {
                 document.getElementById("demo").innerHTML = "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br><br><br><ul><li><li><li></ul>";
             }
         </script>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
     




         <!-- {% for i in book %}



         <p>{{i.name}}</p>
         <p>{{i.auther}}</p>
         <p>{{i.pub_date}}</p>
         <p>{{i.category}}</p>
         <p>{{i.description}}</p>
         <p>{{i.booknumber}}</p>
         <img src="{{i.image}}" alt="">
         
         
         {% if i.id in var %}
             <p>Book Not Available</p>
         {% else %}
             <p>is Available</p>
         {% endif %}
         
     
     
     {% endfor %}
      -->































      





    
		{% endblock %}
