{% extends 'base.html' %}
{% load static %}
{% block body %}








 <div class="bg-white font-Roboto, sans-serif justify-center px-10 py-10 md:px-32 lg:px-60">
             <center>
             <h1 class='font-bold text-4xl'>QuestionBank</h1>
             <h4 class='font-semibold text-lg mt-9 mb-4'>Departments</h4>
        <select 
        class="text-sm w-full border-1 border-zinc-500 lg:text-base rounded-full">
            <option value="Bachelor Of Tourism And Hotel Management">Bachelor Of Tourism And Hotel Management</option>
            <option value="Bachelor Of Commerce">Bachelor Of Commerce</option>
            <option value="Bachelor Of Business Administration">Bachelor Of Business Administration</option>
            <option value="BSc Computer Science">BSc Computer Science</option>
            <option value="BSc Maths And Physics">BSc Maths And Physics</option>
            <option value="BSc Psychology">BSc Psychology</option>
            <option value="BA English">BA English</option>
            <option value="BA Economics">BA Economics</option>
            <option value="BVOC Logistic Management">BVOC Logistic Management</option>
        </select><br/>
       
             </center>


             <center>
            <h4 class='font-semibold text-lg mt-5 mb-4 '>Semester</h4>
        <select 
        class="text-sm w-full border-1 border-zinc-500 lg:text-base rounded-full"  >
            <option value="Semester 1">Semester 1</option>
            <option value="Semester 2">Semester 2</option>
            <option value="Semester 3">Semester 3</option>
            <option value="Semester 4">Semester 4</option>
            <option value="Semester 5">Semester 5</option>
            <option value="Semester 6">Semester 6</option>
        </select><br/>
       
        </center> 

 
        <center>
            <h4 class='font-semibold text-lg mt-5 mb-4 '>Subject</h4>
        <select 
        class="text-sm w-full border-1 border-zinc-500 lg:text-base rounded-full "        >
            <option value="android">android</option>
            <option value="java">java</option>
            <option value="etc">etc</option>
        </select><br/>
        
        <br/>
    
        <div class='pt-5'>
        <button class="font-semibold border-2 rounded-lg text-purple-500 border-purple-500 px-3 md:px-10 py-0.5 hover:text-green-600 hover:border-green-600">Submit</button>
        </div>     

        </center>  

        </div>






<div class='bg-white'>
            <div class='font-Roboto, sans-serif justify-center text-center '>
            <h2 class='font-bold text-4xl'>Questions</h2>
            </div>
       <div class='grid md:grid-cols-2  md:grid-rows-6 gap-4 mt-7 mx-7 md:mx-20'>
           <div class='menu bg-white  h-72 rounded-xl' style="box-shadow: -3px -3px 7px hsl(0, 0%, 100%), 3px 3px 7px #00000070;">fdbbdfbbdfb<br>hbsdjhhvvhjs<br>gvdgfsgjdfjgcs<br>bhgvsjvjvj<br>dbjhugfeduyfuywa</div>
           <div class='menu bg-white  h-72 rounded-xl' style="box-shadow: -3px -3px 7px hsl(0, 0%, 100%), 3px 3px 7px #00000070;"></div>
           <div class='menu bg-white  h-72 rounded-xl' style="box-shadow: -3px -3px 7px hsl(0, 0%, 100%), 3px 3px 7px #00000070;"></div>
           <div class='menu bg-white  h-72 rounded-xl' style="box-shadow: -3px -3px 7px hsl(0, 0%, 100%), 3px 3px 7px #00000070;"></div>
           <div class='menu bg-white  h-72 rounded-xl' style="box-shadow: -3px -3px 7px hsl(0, 0%, 100%), 3px 3px 7px #00000070;"></div>
           <div class='menu bg-white  h-72 rounded-xl' style="box-shadow: -3px -3px 7px hsl(0, 0%, 100%), 3px 3px 7px #00000070;"></div>
           <div class='menu bg-white  h-72 rounded-xl' style="box-shadow: -3px -3px 7px hsl(0, 0%, 100%), 3px 3px 7px #00000070;"></div>
           <div class='menu bg-white  h-72 rounded-xl' style="box-shadow: -3px -3px 7px hsl(0, 0%, 100%), 3px 3px 7px #00000070;"></div>
       </div>
            

</div>




{% endblock %}


